.vectorContainer {
    position: relative;
    width: 100%;
    height: 40vw;
}

.vectorBg {
    position: absolute;
    width: 100%;
    height: 70vw;
}

.logoContainer {
    position: relative;
    width: 40vw;
    height: 40vw;
    background-color: #f7af9d;
    border-radius: 50%;
    text-align: center;
    margin-top: -26vw;
    margin-left: 30%;
    z-index: 1;
}

@media screen and (min-width:700px){
    .logoContainer {
        position: absolute;
        width: 20vw;
        height: 20vw;
        margin-left: 40vw;
        margin-top: -35vw;
    }
}

.logoPettit {
    margin-top: 1.5vh;
    width: 85%;
    height: auto;
}
