.HomeContainer {
    position: relative;
    width: 100%;
    height: auto;
    background: #f7af9d;
    border: 1px solid #f7af9d;
    margin-top: -22vw;
    z-index: 0;
}

@media screen and (min-width:700px){
    .HomeContainer {
        margin-top: -25vw;
    }
}