@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap');

.ImageContainer {
    z-index: 0;
    width: 100%;
    height: 140vw;
    top: 0px;
}

@media screen and (min-width:700px){
    .ImageContainer {
        height: 40vw;
    }
}

.VectorBgLogin {
    width: 100%;
    height: 70vw;
}

@media screen and (min-width:700px){
    .VectorBgLogin {
        height: 60vw;
    }
}

.Rectangle {
    position: relative;
    width: 100%;
    height: auto;
    background: #f7af9d;
    border: 1px solid #f7af9d;
    margin-top: -45vw;
    z-index: 3;
    padding-bottom: 15vh;
}

@media screen and (min-width:700px){
    .Rectangle {
        margin-top: 6vw;
    }
}

.HalfCircle {
    position: absolute;
    width: 50vw;
    height: 50vw;
    background: #f7af9d;
    border: 1px solid #f7af9d;
    border-radius: 50%;
    margin-left: 25%;
    margin-top: -50vw;
    text-align: center;
    z-index: 1;
}

@media screen and (min-width:700px){
    .HalfCircle {
        position: absolute;
        width: 20vw;
        height: 20vw;
        margin-left: 40vw;
        margin-top: -10vw;
    }
}

.logoPettit{
    height: 70%;
    margin-top: 10%;
}

.UnicornContainer {
    width: 95%;
    margin-left: 2.5%;
    height: 90vw;
    background-color: blanchedalmond;
    border-radius: 30%;
    margin-top: 4vh;
    z-index: 2;
}

@media screen and (min-width:700px) {
    .UnicornContainer {
        width: 40vw;
        height: 40vw;
        margin-left: 30vw;
        margin-top: 15vw;
    }
}
.UnicornCake {
    width: 90%;
    margin-left: 5%;
    border-radius: 40%;
    height: 95%;
    margin-top: 2.5%;
}
