@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap');

.ProductContainer {
    height: 38vh;
    width: 42vw;
    margin-top: 1vh;
    border-radius: 15px;
    background-color: #f3d1d1e3;
    border: 2px solid #ffffff;
}

@media screen and (min-width:700px){
    .ProductContainer {
        height: 21vw;
        width: 15vw;
        margin-top: 2vw;
        margin-left: 2vw;
    }
}

.ProductNameContainer {
    width: 40vw;
    height: 5vh;
    margin-top: 0vw;
    margin-left: 1.5vw;
    text-align: center;
}

@media screen and (min-width:700px){
    .ProductNameContainer {
        height: 2vw;
        width: 12vw;
    }
}

.ProductName {
    margin-top: 2vw;
    font-family: 'Akaya Telivigala', cursive;
    font-size: 5vw;
    color: black;
}

@media screen and (min-width:700px){
    .ProductName {
        font-size: 1.5vw;
    }
}

.ProductImage {
    width: 30vw;
    height: 30vw;
    margin-top: 6vh;
    margin-left: 5.5vw;
    border-radius: 50%;
    background-color: #ffffff;
    border: 2px solid #ffffff;
}

@media screen and (min-width:700px){
    .ProductImage {
        width: 9vw;
        height: 9vw;
        margin-left: 2.5vw;
    }
}

.CakeImage {
    width: 30vw;
    height: 30vw;
    border-radius: 50%;
}

@media screen and (min-width:700px){
    .CakeImage {
        width: 9vw;
        height: 9vw;
    }
}

.buttonsContainer {
    width: 94%;
    height: 5vh;
    background: #ff9aa2;
    margin-left: 3%;
    margin-top: 1vh;
    display: flex;
    flex-direction: row;
    border: 1px solid #ffffff;
    border-radius: 30px;
    justify-content: space-between;
}

.buttonPrice {
    width: 4.8vh;
    height: 4.8vh;
    border-radius: 50%;
    margin-left: -0.5vw;
    border: 1px solid #f7af9d;
    background-color: #ffffff;
}

.divText {
    font-size: 2.3vh;
    margin-top: 1vh;
}

.divText.Price {
    margin-left: 0.5vh;
}