.productSection {
    margin-top: 4vh;
    margin-bottom: 3vh;
    height: 75vh;
    width: 95%;
    margin-left: 2.5%;
    z-index: 2;
    overflow-y: scroll;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

@media screen and (min-width:700px){
    .productSection {
        height: auto;
        width: 95%;
    }
}